{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form method="POST">
    <fieldset>
        <legend>Please enter your information:</legend>
        {{ form.csrf_token }}

        {{ form.name.label }}
        {{ form.name }}

        {{ form.price.label }}
        {{ form.price }}

        {{ form.category.label }}
        {{ form.category }}

        {{ form.photo_url.label }}
        {{ form.photo_url }}

        {{ form.store.label }}
        {{ form.store }}


        <!-- TODO: Remove the next paragraph and use the `form` object passed in 
            from the route to render a form. -->
        <p><em>Form fields go here!</em></p>

        <input type="submit" value="Submit">
    </fieldset>
</form>


{% endblock %}
